.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 14px;
  margin: 0;
}

.header--dark {
  background-color: #333;
  color: #fff;
}

.header--light {
  background-color: #a9a9a9;
  color: #000;
}

.header__link {
  text-decoration: none;
  color: inherit;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin: 0 10px 0 10px;
  width: 64px;
  background-color: #232323;
  border-radius: 14px;
}

.header__site-name {
  margin: 0;
  font-size: 26px;
  line-height: 30px;
}

.header__user-btn-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0;
  padding: 5px 5px 5px 20px;
  border: 2px solid #fff;
  border-radius: 100px;
  background-color: #3aab7c;
  transition: all 0.2s;
}

.header__user-btn:hover {
  background-color: #38df9a;
}

.header__user-btn-text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 0 0 auto;
}

.header__user-btn-avatar {
  margin: 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 375px) {
  .header__link {
    margin: auto;
  }
  .header__user-container {
    flex-wrap: wrap;
    padding: 0 35px;
    justify-content: center;
  }
  .header__user-btn-container {
    flex-wrap: wrap;
    padding: 0 35px;
    justify-content: center;
  }
  .header__user-btn-avatar {
    width: 36px;
    height: 36px;
  }
}
