.header {
  display: flex;
  align-items: center;
  padding: 10px 14px;
  margin: 0;
}

.header--dark {
  background-color: #333;
}

.header--light {
  background-color: #a9a9a9;
}

.header__link {
  text-decoration: none;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin: 0 10px 0 10px;
  width: 64px;
  background-color: #232323;
  border-radius: 14px;
}

.header__site-name {
  margin: 0;
  color: #fff;
  font-size: 26px;
  line-height: 30px;
}

.header__browse-btn {
  margin: 0;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  background-color: #9e5d47;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  transition: all 0.2s;
}

.header__browse-btn:hover {
  background-color: #b86144;
}

.header__user-btn {
  margin: 0;
  padding: 12px 24px;
  border: 2px solid #fff;
  border-radius: 100px;
  background-color: #3aab7c;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  transition: all 0.2s;
}

.header__user-btn:hover {
  background-color: #38df9a;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 0 0 auto;
}
